
/* App Shell minimal structural utilities */
#root {
  max-width: 1240px;
  margin: 0 auto;
  min-height: 100vh;
}

.logo {
  height: 5em;
  padding: 24px;
  will-change: filter;
  transition: filter 0.3s;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #7c00ff);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #B100FF);
}
